$small-shadow:          0 -1px 0 #e0e0e0, 
                        0 0 2px rgba(0,0,0,.12), 
                        0 2px 4px rgba(0,0,0,.24);

$medium-shadow:         0 0 3px rgba(0,0,0,.13), 
                        0 3px 6px rgba(0,0,0,.26);

$big-shadow:            0 0 4px rgba(0,0,0,.14), 
                        0 4px 8px rgba(0,0,0,.28);